.nav {
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  button {
    background: transparent;
    border: 3px solid rgb(65, 65, 65);
    cursor: pointer;
    padding: 0.5rem;
    transition: all 0.3s ease;

    &:hover {
      background-color: rgb(65, 65, 65);
      color: white;
    }
  }
}
@media only screen and (min-width: 375px) and (max-width: 414px) {
  .nav {
    button {
      width: 30%;
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .nav {
    button {
      width: 17%;
    }
  }
}
