@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Balsamiq Sans", cursive;
}

.App {
  transition: all 0.5s ease;
}
.library-active {
  margin-left: 20%;
}

@import "./player";
@import "./songInfo";
@import "./controls";
@import "./library";
@import "./library-song";
@import "./nav";

@media screen and (min-width: 360px) and (max-width: 460px) {
  .App {
    height: 100vh;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .App {
    height: 100vh;
  }
}
