@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Balsamiq Sans', cursive;

}
@import "./player";
@import "./songInfo";
@import "./controls";
@import "./library";
@import "./library-song";
@import "./nav";
